# Python fundamentals

## Primitive Data types

In [1]:
print("Hi win")
print('hi win')
print(2.783583)
print(64545345)
print(True)

Hi win
hi win
2.783583
64545345
True

## How to name a variables in python

## Strings
#### A string is a sequence of characters enclosed in either single quotes ('') or double quotes (“”).

In [8]:
name = 'Winchester'
game = 'God of war'
numStr = '123465'

In [9]:
print(name)
print(game)
print(numStr)

Winchester
God of war
123465

In [11]:
print(type(name))
print(type(game))
print(type(numStr))

<class 'str'>
<class 'str'>
<class 'str'>

## Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length,
## Floating point numbers are decimal values or fractional numbers like 33.55,
## A Boolean value is either true or false. In Python, the two Boolean values are True and False, and the Python type is bool

In [9]:
my_num = 1000

In [11]:
type(my_num)

int

In [12]:
my_float = 2.66565

In [13]:
type(my_float)

float

In [14]:
my_boo = True

In [15]:
type(my_boo)

bool

# Non primitive data
## These data structures store values, as well as a collection of values, in varying formats
##  lists, tuples, dictionaries,

## A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements

In [17]:
["Dog", "Cat", "Caw","Goat"]

['Dog', 'Cat', 'Caw', 'Goat']

In [18]:
my_animals = ["Dog", "Cat", "Caw","Goat"]

In [19]:
type(my_animals)

list

In [22]:
print(my_animals[0])
print(my_animals[1])
print(my_animals[2])
print(my_animals[3])

Dog
Cat
Caw
Goat

In [23]:
my_animals[1] = "something"

In [24]:
my_animals

['Dog', 'something', 'Caw', 'Goat']

## Python tuples are a type of data structure that is very similar to lists. The main difference between the two is that tuples are immutable

In [13]:
animals = ("Dog", "Cat", "Caw","Goat")

In [14]:
type(animals)

tuple

print(animals[0])
print(animals[1])
print(animals[2])
print(animals[3])

In [28]:
animals[1] = "something"

TypeError: 'tuple' object does not support item assignment

## A Python dictionary is a collection of key:value pairs

In [38]:
post = {
    "key": "Value",
    "userId": 1,
    "id": 1,
    "title": "sunt aut facere repellat provident occaecati excepturi optio reprehenderit",
    "body": "reprehenderit molestiae ut ut quas totam\nnostrum rerum est autem sunt rem eveniet architecto",
    2: "Two"
  }

In [34]:
type(post)

dict

In [39]:
print(post["key"])
print(post["title"])
print(post[2])

Value
sunt aut facere repellat provident occaecati excepturi optio reprehenderit
Two

## Python programming to test multiple conditions.

In [47]:
# creating account

# user one 
password = "12345"

# user two
password = "23dsds"

In [42]:
if password == "12345":
    print("You are Welcome")
else:
    print("Try agin")

You are Welcome

In [48]:
if password == "12345":
    print("User One")
elif password == "23dsds":
    print("User two")
else:
    print("Try agin")

User two

In [55]:
myNum = 10

In [56]:
if myNum == 1:
    print("User One")
elif myNum == 2:
    print("User two")
elif myNum == 3:
    print("User three")
elif myNum == 4:
    print("User Four")
else:
    print("out of range")

out of range

#  in C++ cout<<, but in python print()
# in C++ cin>>, but python intput()

## Looping means repeating something over and over until a particular condition is satisfied

In [16]:
for anyNum in range(11):
    print(anyNum)

0
1
2
3
4
5
6
7
8
9
10

In [81]:
for anyNum in range(8, 21):
    print(anyNum)

8
9
10
11
12
13
14
15
16
17
18
19
20

In [17]:
listA = ["Dog", "Cat", "Caw","Goat", "win", "food", "good"]

In [18]:
len(listA)

7

In [19]:
for index in range(len(listA)):
    print(listA[index])

Dog
Cat
Caw
Goat
win
food
good

In [20]:
for index in range(len(listA)):
    print(listA[index], index)

Dog 0
Cat 1
Caw 2
Goat 3
win 4
food 5
good 6